body{
    background-color: #91e4fb;
}

table{
    margin-top: 20%;
}
.container{
    background-color: #00c8f8;
    width: 350px;
    height: 500px;
}
h1{
    text-align: center;
}
td, tr{
    padding-top: 20px;
}